
:root {
  --b:white;
  --bs:#ebebeb;
  --t:black;
  --ts: #6b6b6b;

  --bc:#e5e5e5;
  --h:rgb(134 134 134 / 50%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --b:rgb(31,31,31);
    --bs:#171717;
    --t:white;
    --ts: #989898;

    --bc: #171717;
    --h:rgba(238, 238, 238, 0.5);
  }
}

* {
  padding: 0;
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  overflow-wrap: break-word;
  // scroll-behavior: smooth;
}
body {
  background-color: var(--b);
  color: var(--t);
}

// header {
//   font-family: "Syne", sans-serif;
// }
nav {
    gap: 15px;
    display: flex;
    padding-bottom: 30px;
    border-bottom: solid var(--h) 1px;
    a {
        text-decoration: none;
        color: var(--ts);
        font-weight: 500;
        &:hover {
          text-decoration: none;
          color: var(--t);
        }
    }
    .active {
      color: var(--t);
    }
    
}

main,nav {
  // font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header,main {
    margin: auto;
    max-width: 600px;
    padding: 30px 20px 0;
}

 a{
//  text-decoration: none;
  color: var(--t);
  text-decoration: underline;
  text-decoration-color: var(--h);
  text-decoration-thickness: 1px;
  text-underline-position: under;
   &:hover{
     text-decoration: 1px var(--t) underline;
 }
 }

 article {
  
   h2 {
    padding-top: 40px;
    color: var(--t);
  }
  h3 {
    padding-top: 30px;
  }
  hr, ul, ol, dl, blockquote, p, table, pre {
    margin-top: 30px;
  }
  
 }



 
 li {
  margin: 5px 0;
}

 

pre {
  code{
    padding: 0;
    background-color: transparent;
    white-space: unset;    
  }
  color: var(--t);

  padding: 20px 15px;
  margin: 10px 0;
  overflow: auto;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 85%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

header {
  > a {
      display: contents;transform: scale(0.9);
      transition: transform 0.2s ease-in-out;
   
    
    &:active {
      transform: scale(0.85);
    }
    
    
    
    > img {
          border-radius: 100rem;
          display: block;
      }
  }
  time{
    color: var(--ts);
    transition: color 0.2s ease; 
    &:hover{
      color: var(--t);
    }
  }
  @media screen and (min-width: 1200px) {
      padding-top: 100px;
  }
}

ul,ol {
  padding-inline-start: 20px;
}

iframe {
//  border-radius: 10px;
  margin: 30px 0;
  border: none;
}

img {
  display: block;
  margin: 0 0 5px;
  max-width: 100%;
  // border-radius: 10px; 
}

img+em,a+em {
  opacity: .6;
      display: block; 
      font-size: 0.9rem;
      font-style: normal;
      text-align: center;
}

figure {
  margin: 30px 0;
}

figcaption {
  opacity: .6;
  display: block; 
  font-size: .8rem;
  font-style: normal;
  text-align: center;
  
}

table { 
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--ts); 
  
td, th {
  padding: 8px;
  text-align: left;
  border-right: 1px solid var(--ts);  
  border-bottom: 1px solid var(--ts);  
}
 
tr:nth-child(even) {
  background-color: var(--bs); 
}

/* Header styles */
th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--bs);
//  color: white;
  border-top: none; 
}
 
tr:first-child th:last-child { 
  border-right: none;  
}
 
tr td:last-child {
  border-right: none;
}
 
tr:last-child td {
  border-bottom: none;
}

}
 


 

pre::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

footer {
  margin: 40px 0;
  padding: 20px 0;
  border-top: solid var(--h) 1px;
}
.copyright {
  color: var(--ts);
  transition: color 0.2s ease; 
  &:hover{
    color: var(--t);
  }
}
article {
  
    h1,h2,h3,h4 {
      a {
        text-decoration: none;
      }
    }
    strong {
      font-weight: 900;
      color: var(--t);
    }
    #toc {
      ul{
        margin-top: 0;
      }
    }

}

.logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../img/113677178.jpg) no-repeat 0% 0%;
  color: transparent;
  user-select: none;
  background-size: cover;
  border-radius: 100rem;
  overflow: hidden; // text under logo
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.mermaid { 
  margin: 50px 0; 
}
h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}
p { 
    color: var(--t); 
}
main {
  margin-bottom:50px;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--bs);
  border-radius: 6px;
}

a.footnote,a.reversefootnote {
  text-decoration: none;
  padding: 0 5px;
}

ul.post-list {
  >li {
    margin: 10px 0;
  }

}

.suggestion-link{
  margin: 10px 0;
}

// Blackquote  
blockquote {
  padding: 0 1em; 
  border-left: .25em solid var(--ts)
}

