.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease;
    backdrop-filter: blur(5px);
  }
  
  .modal-content {
    background-color: var(--b);
    color: var(--ts);
    margin: 15% auto;
    padding: 20px;
    // border: 1px solid var(--h);
    width: 80%;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: translateY(-10px);
    max-width: 550px;
    border-radius: 10px;
    box-shadow: #0000006b 0px 0px 10px 0px;
    margin-top: 250px;
    p{
      a {
        background: #2500ff;
        color: #ffffff;
        padding: 5px 7px;
        text-decoration: none;
      }
    }
  }
  
  .close {
    color: var(--t);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: var(--ts);
    text-decoration: none;
  }
  
  .modal-content p {
    text-align: center;
    margin-top: 20px;
  }
  
  .modal-content p a {
    margin: 0 10px;
  }
  
  span#modalCancel {
    cursor: pointer;
    &:hover{
      color: var(--ts);
    }
}

p#modalMessage {
  font-size: large;
  font-weight: bold;
}