details{
    summary {
        cursor: pointer;
        padding: 10px 0;
    }
    ul{
        margin-top: 0;
        list-style-type: none; 
        padding-bottom: 10px;
            li::before {
                content: "#"; 
                margin-right: 8px;    
            }
    }
}