<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <title>{% if page.url == "/" %}{{ site.title }}{% else %}{{ page.title }}{% unless page.layout == "post" %} | {{ site.title }}{% endunless %}{% endif %}</title>
    {%- seo title=false -%}

    {% if jekyll.environment == 'production' %}
    {% include icons.html %}
    
    {%- feed_meta -%}    
    {% endif %}


  
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script type="module" src="{{ "/assets/js/script.js" | relative_url }}"></script>
      
  
  </head>
  <body>

    <header>

      <a href="{% if page.layout == 'post' %}/blog{% else %}/{% endif %}" class="logo backlink">
        Mrinal
      </a>

        <h1>{{ page.title }}</h1>
        <!-- if not a page-->
        
        {% if page.layout == 'page' %}
        {% include nav.html %}
        {% endif %}

        {% if page.layout == 'post' %}
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
        

        <!-- {% capture words %}
        {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains '-' %}
        {{ words | strip | prepend: '(' | append: ' Words, ' }}
        {{ words | plus: 180 | divided_by: 180 | append: ' Minutes)' }}
        {% endunless %}
         -->
        
        {% endif %}


    </header> 
    

    
    <main>

    {{ content }}
    
    </main>

     
  </body>
</html>
